---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Főoldal">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1
          style="text-decoration: none;
        background: linear-gradient(to bottom, #2B3467, #1e1e6d);
        -webkit-background-clip: text;
        font-family: Georgia, serif;
        -webkit-text-fill-color: transparent;
        color: white;"
        >
          Nagykapos
        </h1>
        <br>
        <p style="color: #2B3467; 
        font-family: Times New Roman, Times, serif;
        font-size: 20px;
        line-height: 30px;
        ">Kedves látogató! <br>  <br>

          Szeretnénk, ha ez a weboldal egyfajta vezérfonálként szolgálna számodra, melynek segítségével
           könnyedén feltérképezheted a várost nevezetességeit. <br>
           
           
           
           
           
           A galéria révén virtuálisan „körbe sétálhatod” a városban rejlő kincseket, majd a térkép segítségével eljuthatsz hozzájuk és testközelből is megtekintheted azokat. 
          </p>
        <a href="galery">
          <button type="button" class="button">Fedezz fel!</button>
        </a>
      </div>
      <div class="col">
        <div
          class="card card1"
          data-bs-toggle="popover"
          data-bs-trigger="hover"
          data-bs-content="And here's some amazing content. It's very engaging. Right?"
        >
          <h5>Városháza</h5>
          <div class="card-text">
            A nagykaposi Városháza épülete otthont ad számos kulturális 
            eseménynek, valamint hivatalos ügyeiket is itt intézhetik a lakosok.


          </div>
        </div>
        <div class="card card2">
          <h5>Művelődési központ</h5>
          <div class="card-text">
            A Dobó István téren található, amely a kulturális értékek és a
            térség hagyományainak megőrzését célzó társas és kulturális
            rendezvények színhelyéül szolgál. Itt található az állandó
            fotókiállítás Robert és Cornell Cap, híres amerikai fotóművészek
            képeiből.
          </div>
        </div>
        <div class="card card3">
          <h5>Erdélyi János Alapiskola</h5>
          <div class="card-text">
            Az Erdélyi János Alapiskolában 1-9. osztályig zajlik az oktatás magyar nyelven.
          </div>
        </div>
        <div class="card card4">
          <h5>Református templom</h5>
          <div class="card-text">
            1787-ben építették fel barokk-klasszicista stílusban.
             A bejáratfölötti tábla tanúsága szerint Jánosi György 
             lelkészsége és László Pál kurátorsága idején szentelték fel. 
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
<style>
  
.p{ 
display: inline;}
  .card {
    font-family: "Times New Roman", Times, serif;
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: none;
  }
  .card-text {
    width: 90%;
    height: 0;
    color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }

  .card:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
  }

  .card:hover .card-text {
    height: 180px;
    color: white;
  }

  .button {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    padding: 10px 20px;
    font-size: 23px;
    background: linear-gradient(to right, #fff, #ccc);
    color: #333;
    border: none;
    transition: background 0.3s ease, transform 0.3s ease;
    will-change: transform;
  }

  .button:hover {
    background: linear-gradient(to right, #ccc, #fff);
    transform: scale(1.1);
  }
</style>
