---
import Layout from '../layouts/Layout.astro';
---




			

<Layout title="Főoldal">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="text-decoration: none;
        background: linear-gradient(to bottom, #2B3467, #1e1e6d);
        -webkit-background-clip: text;
        font-family: Georgia, serif;
        -webkit-text-fill-color: transparent;
        color: white;">
        
        Nagykapos</h1>  
        <a href="galery">
        <button type="button" class="a">Fedezz fel!</button>
      </a>
      </div>
      <div class=" col">  
          <div class="text-overlay">A Dobó István téren található, amely a kulturális értékek és a térség hagyományainak
            megőrzését célzó társas és kulturális rendezvények színhelyéül szolgál. Itt található az állandó
            fotókiállítás Robert és Cornell Cap, híres amerikai fotóművészek képeiből.</div>
        <div class="card card1 ">
          <h5>Városháza</h5>
       
        </div>
      </a>
        <div class="card card2 ">
          <h5>Művelődési központ</h5>
        </div>
      </a>
        <div class="card card3 ">
          <h5>Református templom</h5>
        </div>
      </a>
        <div class="card card4 ">
          <h5>Mécs László</h5>
         
        </div>
      </a>
      </div>
    </div>
  </div>

  <style>
    .card {
      font-family: "Times New Roman", Times, serif;
    }
  .a 
    {
      font-family: "Times New Roman", Times, serif;
      font-size: 22px;
    }
    

  </style>



      </Layout>