---
import Layout from "../layouts/Layout.astro";
---

<style is:global>
  #map {
    width: 600px;
    height: 400px;
    position: relative;
    outline: none;
  }

  .map-container{
    padding-top: 55px;
  }
  .marker-img {
    aspect-ratio: 3/4;
    width: 150px;
  }

  .marker-text {
    color: black;
  }
</style>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>

<Layout title="Város Térképe">
  <div class="row">
    <div class="col">
      <h1>VÁROS TÉRKÉPE</h1>
      <button type="button"><a href="galery"><h2>360° Galéria</h2></a></button>
    </div>
    <div class="map-container">
      <div id="map" style="height: 450px"></div>
    </div>
  </div>
</Layout>
<script>
  import * as L from "leaflet";
  let markers = [
    {
      nev: "Herczegh Géza szobra",
      src: "/herczegh_geza/IMG_5321.jpg",
      coord: [48.5543021153523, 22.076704806295883],
    },
    {
      nev: "P.O.Hviezdoslav szobor",
      src: "/pho_szobor/IMG_5371.jpg",
      coord: [48.55553628932887, 22.07458684311116],
    },
    { nev: "2.VH halottak", src: "//szobor_templom_elott/IMG_5242.jpg", coord: [48.55282765274451, 22.077181701932265] },
    {
      nev: "Dobó Istvan szobra",
      src: "/szobor_szokokut/IMG_5200.jpg",
      coord: [48.55411780536286, 22.07509452857798],
    },
    {
      nev: "Szent Istvan Király",
      src: "/szobor_templom_mogott/IMG_5269.jpg",
      coord: [48.55246767110387, 22.07804085524672],
    },
    {
      nev: "Petőfi Sándor Mellszobor",
      src: "/szobor_szokokut_petofi/IMG_5217.jpg",
      coord: [48.554491985562784, 22.07527234728118],
    },
    {
      nev: "Turul Madár szobra",
      src: "/turul/IMG_5338.jpg",
      coord: [48.555665719789815, 22.075155925868835],
    },
    
    {
      nev: "Sarga Templom",
      src: "/sargatemplom.jpg",
      coord: [48.55265357984778, 22.0774825087138],
    },
    {
      nev: "Mécs László",
      src: "/mecslaszlo.jpg",
      coord: [48.55447139619999, 22.068121095685463],
    },
    {
      nev: "II. András szobra",
      src: "/sargatemplom.jpg",
      coord: [48.55586946380365, 22.075113670964463],
    },
    {
      nev: "Müvelődési Központ",
      src: "/muvkozpont.jpg",
      coord: [48.554264846500985, 22.07551758867893],
    },
    {
      nev: "Ludovit Stur  szobra",
      src: "/ludovit.jpg",
      coord: [48.55081318428273, 22.084728416089288],
    },


  ];
  const map = L.map("map", {
    dragging: true,
    zoomControl: false,
    doubleClickZoom: false,
    scrollWheelZoom: false,
  }).setView([48.553845247422466, 22.074852393299768], 15.5);

  let offset = 0.03;
  map.setMaxBounds([
    [48.553845247422466 + offset, 22.074852393299768 - offset],
    [48.553845247422466 - offset, 22.074852393299768 + offset],
  ]);
  const tiles = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  markers.forEach((marker_element) => {
    let marker = L.marker(marker_element["coord"]).addTo(map);
    marker.bindPopup(
      `<p class="marker-text">${marker_element["nev"]}</p><img class="marker-img" src=${marker_element["src"]}>`
    );
  });

</script>
