---
import Layout from '../layouts/Layout.astro';
---



<Layout title="Nevezetességek">
  <div class="container">
    <div class="column">
      <h2>Református templom (1787)</h2>
      <br>
      <p>1787-ben építették fel barokk-klasszicista stílusban. A bejárat fölötti tábla tanúsága szerint
        Jánosi György lelkészsége és László Pál kurátorsága idején szentelték fel. A templom külső
        keleti falában helyeztek el egy bronzkeretben foglalt márványtáblát 1894-ben a város
        szülöttének, Erdélyi Jánosnak az emlékére.</p>
        <br>
        <br>
        <br>
        <div class="image-container">
          <img src="/sargatemplom.jpg" alt="Reformatus Templom">
        </div>
    </div>
    <div class="column">
      <h2>Elhurcoltak emlékére állított kopjafa (1993)</h2>
      <br>
      <p>A templom előtti kis parkban található, Ferenc György helyi szobrász alkotása. A mű felső
        részéről megkínzott emberi arcok néznek vágyakozva a távolba, a lenti részén a második
        világháború áldozatainak neve olvasható.</p>
        <br><br><br>
        <br>
        <br>
        <div class="image-container">
         
          <img src="/kopjafa.jpg" alt="Elhurcoltak emlékére állított kopjafa">
        </div>
         
    </div>
    <div class="column">
      <h2>Szent István király szobra (2001)</h2>
      <br>
      <p>2001-ben a református templom mögötti kis parkban Szent István király emlékműve került
        átadásra. Bunkóczi Attila magyarországi szobrász alkotása.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <div class="image-container">
          <img src="/szentistvankiraly.jpg" alt="Szent István király szobra ">
        </div>
  </div>
  
  
</div>
</div>
<div class="container">
  <div class="column">
    <h2>II. András király szobra</h2>
    <br>
    <p>2014. szeptember 27-én, a város első írásos említésének 800. évfordulója alkalmából került
      sor II. András király szobrának felavatására a városháza előtt. Ferencz György nagykaposi
      szobrász imregi andezit kőből faragta a részben közadakozásból készült mellszobrot, amely az
      életnagyság 1,25-szöröse.</p>
      <br>
      <br>
        <br><br>
        <br><br>
        <br><br>
      <div class="image-container">
        <img src="/2andras.jpg" alt="Mécs László mellszobra ">
      </div>

  </div>
  <div class="column">
    <h2>Mécs László mellszobra (1995)</h2>
    <br>
    <p>A római katolikus templom bejárata előtt található Mécs László bronzból készült mellszobra,
      Borsi Antal sárospataki szobrászművész alkotása. A templomban elhelyezett emléktábla és
      portré emlékeztet Mécs László nagykaposi működésére, 1920-1929 között nagykaposi
      plébános volt.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="image-container">
        <img src="/mecslaszlo.jpg" alt="Mécs László mellszobra ">
      </div>
      
       
  </div>
  <div class="column">
    <h2>Erdélyi János szobra (1968)</h2>
    <br>
    <p>Az Erdélyi János Magyar Tannyelvű Alapiskola épülete előtt helyezték el Erdélyi János
      szobrát (1968), Nagy János akadémiai szobrászművész alkotását.
      Erdélyi János Kiskaposon született 1814.4.1-jén. Ügyvéd, költő, tanár, az MTA tagja.
      A Kisfaludy Társaság megbízásából kezdett néprajzi
      gyűjtőmunkába. Főbb művei: Magyar népköltési
      gyűjtemény. Népdalok és mondák I-III., Magyar közmondások könyve, Magyar népmesék.</p>
      <br>
      <div class="image-container">
        <img src="/erdelyijanos_1.jpg" alt="Erdélyi János szobra">
      </div>
</div>

</div>
</div>

<div class="container">
  <div class="column">
    <h2>Herczegh Géza mellszobra (2018)</h2>
    <br>
    <p>Herczegh Géza jogtudós, Nagykapos díszpolgára születésének 90. évfordulója tiszteletére
      szobrot avattak Nagykaposon.
      1928.10.17-én született Nagykaposon. Jogtudós, egyetemi tanár, az MTA tagja. Fő kutatási területe a
      nemzetközi jog volt, vizsgálta az emberi jogok nemzetközi érvényesülését, a nemzeti
      kisebbségek védelmével kapcsolatos kérdéseket. A Nemzetközi Vöröskereszt szakértőjeként
      működött, illetve Foggal körömmel címmel regényt is írt.</p>
      
      <div class="image-container">
        <img src="/herczegh_1.jpg" alt=" Herczegh Géza mellszobra ">
      </div>
  </div>
  <div class="column">
    <h2>Turul-szobor (1996)</h2>
    <br>
    <p>A millecentenárium emlékére, a magyaroknak a Kárpát-medencében való letelepedése 1100.
      évfordulója alkalmából, a városháza előtti téren emelték a Turulmadár szobrot, Borsi Antal
      sárospataki szobrászművész alkotását. 
      1996-tól minden év március 15-én az 1848-49-es szabadságharcra emlékezvén
      megkoszorúzzák, de 2016-tól az Összetartozás Napjára is a honfoglalási emlékmű előtt
      emlékezik a közösség.</p><br>
      <br>
      <div class="image-container">
        
        <img src="/turul_1.jpg" alt="Turulmadár szobor ">
      </div>
       
  </div>
  <div class="column">
    <h2>Dobó István mellszobra</h2>
    <br>
    <p>
      Nagykapostól nem messze, Dobóruszkában, ahol született és ahol a falu ősrégi templomának falai közt nyugszik az egri vár hőse, törökverő kapitánya - Dobó István. 2000-ben került leleplezésre a róla elnevezett téren, Ferenc György helyi szobrászművész munkája. A tér közepén ott áll hengeres talapzaton Dobó István mellszobra, védve a város lakosságát.
      
      </p>
      <br>
      <br>
      <br>
      
     
      <br><br>
      <div class="image-container">
        <img src="/dobo_1.jpg" alt="Dobó István mellszobra  ">
      </div>
</div>

</div>
</div>

<div class="container">
  <div class="column">
    <h2>Anya gyermekével</h2>
    <br>
    <p>Az üzletközpont parkjában Löffler Béla kassai művész szobra van, a helyiek elnevezése
      szerint Anya gyermekével.</p>
      <div class="image-container">
        <img src="/anyagyermekevel_1.jpg" alt="Tisztelet az öregkornak szobor  ">
      </div>
  </div>

  
  <div class="column">
    <h2>Tisztelet az öregkornak szobor (2005)</h2>
    <br>
    <p>A nyugdíjas otthon előtti bejáratnál áll a Tisztelet az öregkornak szobor (2005), Ferenc
      György alkotása.</p>
      <div class="image-container">
        <img src="/tiszteletoreg.jpg" alt="Tisztelet az öregkornak szobor  ">
      </div>
    
      
  
       
  </div>
  <div class="column">
 
      <h2>Görögkatolikus templom (1807)</h2>
      <br>
      <p>1807-ben épült fel klasszicista stílusban, Simon és Juda tiszteletére szentelték fel.</p>
      <div class="image-container">
        <img src="/gomb.jpg" alt="Római katolikus templom (1807) ">
      </div>
    
</div>

</div>
</div>


<style>

.image-container {
  display: inline-block;
  padding: 5px;
  position: relative;
  width: 50%;
  transition: width 0.5s;
  box-shadow: 0px 0px 0px 5px #2B3467;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container:hover {
  width: 95%;
}
.container {
display: flex;
justify-content: center;
}

h2 {
  font-size:30px;
  color: white;
  background: linear-gradient(to right, #EB455F,#EB455e);
}
h2, p {
    font-family: "Times New Roman", Times, serif;
  }
  
  .column {
    flex-basis: calc(50% - 20px);
    text-align: center;
    position: relative;
    margin: 15px;
  }
  .column p {
    font-size: calc(16px + 7px);
    color: #27374D;
    text-align: justify;
    line-height: 1.3  ; 
    padding: 15px;
  }

.column::before {
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
width: calc(100% - 2px);
height: calc(100% + 0px);

border: 4px solid #2B3467;
transition: all 0.5s ease;
}
</style>
</Layout>
