<div class="footer">
  <div class="footer_container">
    <div class="col_1">
      <a href="#" class="Nagykapos">Nagykapos</a>
    </div>
    <div class="col_2">
      <ul class="menu">
        <li><a href="/">Főoldal</a>
        </li>
        <li><a href="/Tortenelme">Történelem</a>
        </li>
        <li><a href="/map">Város térképe</a>
        </li>
        <li><a href="/galery">Galéria</a>
        </li>
        <li><a href="/nevezetessegek">Nevezetességek</a>
        </li>
        <li><a href="/erdekessegek">Érdekességek</a>
        </li>
      </ul>
      <style>

.footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: -50px;

  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    font-size:21px;
    font-family: Georgia,serif;
  }
      </style>
    </div>
  </div>
</div>
