<div class="footer">
  <div class="footer_container">
    <div class="col_1">
      <a href="#" class="Nagykapos">Nagykapos</a>
    </div>
    <div class="col_2">
      <ul class="menu">
        <li>
          <a href="galery">Galéria</a>
        </li>
        <li>
          <a href="#">Érdekességek</a>
        </li>
        <li>
          <a href="#">Nevezetességek</a>
        </li>
        <li>
          <a href="#">Történelem</a>
        </li>
      </ul>
    </div>
  </div>
</div>
