  <div class="navbar">
    <a href="szimbolumok" class="cimmer">
    <div class="cimer_class"><img src="/cimer.png" class="logo">
    </a>
    <a href="nagykapos" class="cimmer"> 
      <h4 style="font-family: Georgia, serif;" >Nagykapos</h4>
    </a>
    </div>
    <nav>
      <ul>
        <li><a href="mainp">Főoldal</a>
        </li>
        <li><a href="Tortenelme">Történelem</a>
        </li>
        <li><a href="map">Város térképe</a>
        </li>
        <li><a href="galery">Galéria</a>
        </li>
        <li><a href="nevezetessegek">Nevezetességek</a>
        </li>
        <li><a href="erdekessegek">Érdekességek</a>
        </li>
        
      </ul>
      <style>
        .cimmer{
        text-decoration: none;
      }
      a {
      font-family: Georgia, serif;
    }
      </style>

    </nav>
    <img src="/menu2.svg" class="menu-icon">
  </div>
